<template>
    <div>
        <div v-if="!isLoggedIn">
            <input type="text" name="username" v-model="username" placeholder="username"> 
            <input type="password" name="password" v-model="password" placeholder="password"> 
            <button type="submit" @click="login">login</button><br />
        </div>

        <div v-if="isLoggedIn">
            <button @click="logout">logout</button>
            <input type="text" name="user" v-model="user" placeholder="username"> 
            <button @click="hydrateDB">create sample account & transactions</button><br />
             <br /><hr />

             <button @click="loadAccounts">load accounts</button>
            <h2>accounts</h2>
            <p>(click on account name to display transactions)</p>

            <div v-for="account in accounts">
                <button @click="displayTransactions(account.name)">{{ account.name }}</button><br /><br />
            </div>
            <hr />

            <h3>transactions</h3>
            <div v-for="transaction in transactions">
                <p>{{ transaction.account }} - {{ transaction.amount }} - ({{ transaction.description }}) - {{ transaction.timestamp }}</p>
            <br />
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import type { Account, Transaction } from "@/types/interfaces";
    import { account, transactions } from '@/configs/accounts';
    import { DB } from '@/functions/classes/DB';
    import { Pouch } from '@/functions/classes/Pouch';
    import { fetchPromise } from '@/functions/request';


    export default {
        name: "Login",
        data() {
            return {
                'username': '',
                'password': '',
                'user': '',
                'accounts': [] as Account[],
                'transactions': [] as Transaction[],
                'isLoggedIn': false
            }
        },
        mounted() {
            // add pouchDB cdn script tag
            const pouchScriptTag = document.createElement('script');
            pouchScriptTag.type = "application/javascript"
            pouchScriptTag.defer = true
            pouchScriptTag.src = '//cdn.jsdelivr.net/npm/pouchdb@8.0.1/dist/pouchdb.min.js'
            document.head.appendChild(pouchScriptTag)



        },
        methods: {
            async login() {
                try {
                    const formData = {
                    username: this.username,
                    password: this.password
                    };
                    const url = "http://localhost:3000/login";
                    const headers = new Headers({
                        "Content-Type": "application/json"
                    })
                    const requestOptions = {
                        method: "POST",
                        headers: headers,
                        body: JSON.stringify(formData)
                    }
                    const response: any = await fetchPromise(url, requestOptions);
                    Pouch.init(response.db)
                    await this.connectPouch()
                    await this.setupDB()
                    this.username = ''
                    this.password = ''
                    this.isLoggedIn = true;
                } catch (e) {
                    console.error(e)
                }
            },
            async logout() {
                //await this.destroyPouch()
                this.isLoggedIn = false
            },
            async connectPouch() {
                try {    
                    await Pouch.connect()
                } catch (e) {
                    console.error(e)
                }
                
            },
            async destroyPouch() {
                try {
                   Pouch.destroy()
                } catch (e) {
                    console.error(e)
                }
            },
            async setupDB() {
                try {
                    await Pouch.connect();
                    await DB.connect(Pouch.config).createDatabase();
                } catch (e) {
                    console.error(e)
                }
            },
            async hydrateDB() {
                try {
                    if (this.user.length === 0) {
                        console.error('please enter username to hydrate db')
                        return;
                    }
                    account._id = this.user
                    account.name = this.user
                    const newTransactions = transactions.map((transaction, i) => {
                        transaction._id = this.user + i
                        transaction.account = this.user
                        return transaction
                    })
                    const batch = [account, ...newTransactions]
                    await Pouch.setup(batch)
                    await this.loadAccounts()
                } catch (e) {
                    console.error(e)
                }
            },
            async loadAccounts() {
                try {
                    const accounts = await Pouch.find({
                        type: 'account'
                    })
                    this.accounts = accounts
                } catch (e) {
                    console.error(e)
                }
            },
            async displayTransactions(accountName: string) {
                try {
                    const transactions = await Pouch.find({
                        type: 'txn',
                        account: accountName
                    })
                    this.transactions = transactions
                } catch (e) {
                    console.error(e)
                }
            }
        }
    }
</script>

